<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camping.mapper.CampingMapper">

<select id="getList" resultType="com.camping.domain.CampingVO">
<![CDATA[
    select * from BOARD_INQUIRY where board_no > 0 order by board_no asc
    ]]>
</select>

<insert id="insert">
	insert into BOARD_INQUIRY (board_no, board_title, board_content, mem_id)
	values (board_no.nextval, #{board_title}, #{board_content}, #{mem_id})
</insert>
	
<insert id="insertSelectKey">
	
	<selectKey keyProperty="board_no" order="BEFORE" resultType="Long">
		select board_no.nextval from dual
	</selectKey>
	
	insert into BOARD_INQUIRY(board_no, board_title, board_content, mem_id)
	values (#{board_no}, #{board_title}, #{board_content}, #{mem_id})
</insert>
	
	<select id="read" resultType="com.camping.domain.CampingVO">
	select * from BOARD_INQUIRY where board_no = #{board_no}
	</select> 
	
	<delete id="delete">
		delete from BOARD_INQUIRY where board_no = #{bno}
	</delete>
	
	<update id="update">
		update BOARD_INQUIRY
		set board_title = #{board_title},
		board_content = #{board_content},
		board_updateDate = SYSDATE
		where board_no = #{board_no}
	</update>
	
	
					
</mapper>
